@page
@model Voogle.Pages.CustomPages.HelpModel
@{
}
<style type="text/css">
    body {
        margin: 0px;
        width: 100%;
        height: 100%;
        color: white;
        background-color: #9be0d0
    }

</style>


    <head>
        <title>Help</title>
    </head>

    <body>
        <div class="divHeader">
                <div class="container">
                    <h1 style="font-size:24px">
                        <strong>HELP</strong>
                    </h1>
                </div>
        </div>

        <div class="divBody">
            <section class="divBody">

                <div id="page-wrap">
                    <div id="comments-sidebar">

                    </div>
                    
                </div>




                <div class="container">
                    <video align="left" width="640" height="480" controls></video>
                </div>
            </section>
        </div>



    </body>
<footer></footer>
