@page
@model Voogle.Pages.General.HomeModel
@{
}
<style type="text/css">
    body {
        margin: 0px;
        width: 100%;
        height: 100%;
        color: white;
        background-color: #9be0d0
    }

</style>


<head>
    <title>VOOGLE - HOME</title>
</head>

<body>

    <button>Videos</button>

</body>
<footer></footer>
