<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Voogle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <style>
        html{
            position: relative;
            min-height: 100%;
        }
        header {
            background-color: #ee2831;
            text-align:center;
            font-weight:bold;
        }
        footer {
            background-color: #ee2831;
            text-align: center;
            font-weight: bold;
            position: absolute;
            left:0;
            bottom:0;
            height: 50px;
            width:100%;
            overflow: hidden;
        }
        a.siteTitle {
            font-family:'Palatino Linotype', Georgia;
            font-size: 45px;
            color:white;
        }
        .sitePages {
            text-align: center;
            color: white;
        }
        .sitePages > li {
            display: inline-block;
            float: none;
            color: inherit;
            text-decoration: none;
            margin: 10px;
            padding: 0px 5px 0px 5px;
            border-radius: 5px;
        }
        .sitePages > li a {
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <div>
                <a class="siteTitle" asp-area="" asp-page="/Index">Voogle</a>
                <br />
                <div>
                    <ul class="sitePages">
                        <li>
                            <a asp-area="" asp-page="/Areas/General/Home">Home</a>
                        </li>
                        <li >
                            <a asp-area="" asp-page="/Areas/General/Search">Search</a>
                        </li>
                        <li >
                            <a asp-area="" asp-page="/Areas/Video/Index">Videos</a>
                        </li>
                        <li >
                            <a asp-area="" asp-page="/Areas/Request/Index">Requests</a>
                        </li>
                        <li >
                            <a asp-area="" asp-page="/Areas/Video/Create">Upload</a>
                        </li>
                        <li >
                            <a asp-area="" asp-page="/Areas/General/Help">Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2021 - Voogle - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
