@page
@model Voogle.Pages.PlayerModel
@{
}
<style type="text/css">
    body {
        margin: 0px;
        width: 100%;
        height: 100%;
        color: white;
        background-color: #9be0d0
    }

    .video-details {
        padding: 10px;
        margin: 10px 0px 10px 0px;
        background: white;
        height: 10vh;
    }


    .video-and-comments {
        padding: 10px;
        margin: 10px 0px 10px 0px;
        background: white;
        height: 70vh;
    }
        table {
            border-collapse: collapse;
            background:grey;
        }
        table, td, th {
            border: 1px solid white;
            vertical-align: top;
            padding: 2%;
        }
        .normal-tr {
            height: auto;
            font-size: 12px;
        }
        .header-tr {
            height: 20px;
            font-size: 14px;
        }

    .float-child-L {
        float: left;
        height: 100%;
        width: 70%;
        padding: 10px;
    }
    .float-child-R {
        float: left;
        height: 100%;
        width: 30%;
        padding: 10px;
    }

    * {
        box-sizing: border-box;
    }

    .column-rv {
        float: left;
        width: 30%;
        margin:5px;
        border-style: solid;
        border-color: white;
        border-width: 2px;
    }

    /* Clearfix (clear floats) */
    .row-rv::after {
        content: "";
        clear: both;
        display: table;
    }
</style>


<head>
    <title>VOOGLE - PLAYER</title>
</head>

<body>
       <div class="video-details">
                
            </div>

            <div class="video-and-comments">
                <div class="float-child-L">
                    <div style="width: 100%; padding-top: 56.25%; height: 0px; position: relative">
                        <video style="background: grey; width: 100%; height: 100%; position: absolute; top:0; left:0" controls></video>
                    </div>

                    <div style="margin: 20px 0px; padding:10px; height:auto; background:grey">
                        RELATED VIDEOS
                        <div class="row-rv">
                            <div class="column-rv">
                                <img src="https://www.vtracrobotics.com/wp-content/uploads/2018/07/video-thumbnail.jpg" alt="Snow" style="width:100%">
                            </div>
                            <div class="column-rv">
                                <img src="https://www.vtracrobotics.com/wp-content/uploads/2018/07/video-thumbnail.jpg" alt="Snow" style="width:100%">
                            </div>
                            <div class="column-rv">
                                <img src="https://www.vtracrobotics.com/wp-content/uploads/2018/07/video-thumbnail.jpg" alt="Snow" style="width:100%">
                            </div>
                        </div>


                    </div>
                </div>
                <div class="float-child-R">
                    <table>
                        <tr class="header-tr">
                            <th>Time Stamp</th>
                            <th>Comment</th>
                        </tr>
                        <tr class="normal-tr">
                            <th>00:00:30</th>
                            <th>Bring 1 cup of water and the egg mixture to a boil in a medium saucepan, stirring occasionally.</th>
                        </tr>
                        <tr class="normal-tr">
                            <th>00:00:59</th>
                            <th>Flip the spoons over.</th>
                        </tr>
                    </table>

                </div>
                
               
            </div>
</body>
<footer></footer>
