@page
@model Voogle.Pages.Videos.Custom.PlayerModel
@{
    ViewData["Title"] = "Player";
}
<style type="text/css">
    body {
        margin: 0px;
        width: 100%;
        height: 100%;
        color: white;
        background-color: #9be0d0;
        font-family: 'Palatino Linotype', Georgia;
    }

    .video-details {
        margin: 10px 0px 15px 0px;
        background: #9be0d0;
    }


    .video-and-comments {
        padding: 10px;
        margin: 10px 0px 10px 0px;
        background: white;
        height: 100vh;
    }

    .video-info-table {
        background: #9be0d0;
        color: black;
        width: 100%;
        border: 1px solid #9be0d0;
    }

    .video-info-table tr, td{
        width:50%;
        border: 0px;
    }
    

    .comment-table {
        border-collapse: collapse;
        background: grey;
    }

    .comment-table, td, th {
        border: 1px solid white;
        vertical-align: top;
        padding: 2%;
    }

    .normal-tr {
        height: auto;
        font-size: 12px;
    }

    .header-tr {
        height: 20px;
        font-size: 14px;
    }

    .float-child-L {
        float: left;
        height: 100%;
        width: 70%;
        padding: 10px;
    }

    .float-child-R {
        float: left;
        height: 100%;
        width: 30%;
        padding: 10px;
    }

    * {
        box-sizing: border-box;
    }

    .column-rv {
        float: left;
        width: 30%;
        margin: 5px;
        border-style: solid;
        border-color: white;
        border-width: 2px;
    }

    /* Clearfix (clear floats) */
    .row-rv::after {
        content: "";
        clear: both;
        display: table;
    }


    .float-grid {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-auto-rows:minmax(100px, auto);
        align-content:center;
    }

    .float-left {
        float: left;
        display: inherit;
        grid-column: 1;
    }

    .float-left-top{
        grid-row: 1;
    }

    .float-left-bottom{
        grid-row: 2;
    }

    .float-right{
        float:right;
        display: inherit;
        grid-column: 2;
    }

    .float-right-top {
        grid-row: 1;
    }

    .float-right-bottom {
        grid-row: 2;
    }

    .float-quarter {
        text-align: center;
        background: #ee2831;
        margin: 2px;
        border: 1px solid #9be0d0;
    }
</style>


<head>
    <title>VOOGLE - PLAYER</title>
</head>

<body>

    
    <div class="float-grid">
        <div class="float-left">
            <div class="float-left-top float-quarter">
                VIDEO PLAYER
                <br />
                <input type="text" id="txtUrl" style="width:300px">

                <input type="button" id="btnPlay" value="Play" />
                <hr />
                <iframe id="video" width="420" height="315" frameborder="0" style="display:none" allowfullscreen></iframe>
                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script type="text/javascript">
                    $("body").on("click", "#btnPlay", function () {
                        var url = $("#txtUrl").val();
                        url = url.split('v=')[1];
                        $("#video")[0].src = "//www.youtube.com/embed/" + url;
                        $("#video").show();
                    });
                </script>
            </div>
            <div class="float-left-bottom float-quarter">
                VIDEO DETAILS
            </div>
        </div>
        <div class="float-right">
            <div class="float-right-top float-quarter">
                COMMENTS
            </div>
            <div class="float-right-bottom float-quarter">
                FEEDBACK
            </div>
        </div>
    </div>



    <!--

    <div class="float-top-left">
        <input type="text" id="txtUrl" style="width:300px">

        <input type="button" id="btnPlay" value="Play" />
        <hr />
        <iframe id="video" width="420" height="315" frameborder="0" style="display:none" allowfullscreen></iframe>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            $("body").on("click", "#btnPlay", function () {
                var url = $("#txtUrl").val();
                url = url.split('v=')[1];
                $("#video")[0].src = "//www.youtube.com/embed/" + url;
                $("#video").show();
            });
        </script>
    </div>

    <table>
    </table>







    <div class="video-and-comments">
        <div class="float-child-L">
            <div style="width: 100%; padding-top: 56.25%; height: 0px; position: relative">
                <video style="background: grey; width: 100%; height: 100%; position: absolute; top:0; left:0" controls></video>
            </div>

            <div class="video-details">
                <table class="video-info-table">
                    <tbody>
                        <tr>
                            <td class="vi-1">
                                @Html.DisplayFor(model => model.Video.Title)
                                <br />
                                @Html.DisplayFor(model => model.Video.Publisher)
                            </td>
                            <td class="vi-1">
                                @Html.DisplayFor(model => model.Video.UploadDate)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="vi-2">

                                @Html.DisplayFor(model => model.Video.Description)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
    <div class="float-child-R">
        <table class="comment-table">
            <tr class="header-tr">
                <th>Time Stamp</th>
                <th>Comment</th>
            </tr>
            <tr class="normal-tr">
                <th>00:00:30</th>
                <th>Bring 1 cup of water and the egg mixture to a boil in a medium saucepan, stirring occasionally.</th>
            </tr>
            <tr class="normal-tr">
                <th>00:00:59</th>
                <th>Flip the spoons over.</th>
            </tr>
        </table>

    </div>


    </div>

    <div>
        <input type="text" id="txtUrl" style="width:300px">

        <input type="button" id="btnPlay" value="Play" />
        <hr />
        <iframe id="video" width="420" height="315" frameborder="0" style="display:none" allowfullscreen></iframe>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            $("body").on("click", "#btnPlay", function () {
                var url = $("#txtUrl").val();
                url = url.split('v=')[1];
                $("#video")[0].src = "//www.youtube.com/embed/" + url;
                $("#video").show();
            });
        </script>
    </div>

        -->

</body>
